<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC-pfu8z-RVupNevER8e8-dbOjOwE549TQ</string>
	<key>GCM_SENDER_ID</key>
	<string>208343184824</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chakra.tomatouser</string>
	<key>PROJECT_ID</key>
	<string>tomato-72760</string>
	<key>STORAGE_BUCKET</key>
	<string>tomato-72760.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:208343184824:ios:6d9de89aca1f760a498b4d</string>
</dict>
</plist>