<IfModule mod_rewrite.c>

  RewriteEngine On
  RewriteBase /app/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /app/index.html [L]

</IfModule>

<IfModule mod_headers.c>
  <FilesMatch "^(index\.html|flutter_service_worker\.js|flutter_bootstrap\.js|main\.dart\.js|favicon\.png|favicon\.ico|manifest\.json)$">
    Header set Cache-Control "no-cache, no-store, must-revalidate"
  </FilesMatch>
</IfModule>
